@font-face {
  font-family: 'space-grotesk';
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'panchang';
  src: url('/fonts/Panchang-Regular.woff2') format('woff2'),
    url('/fonts/Panchang-Regular.woff') format('woff'),
    url('/fonts/Panchang-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'panchang-bold';
  src: url('/fonts/Panchang-Bold.woff2') format('woff2'),
    url('/fonts/Panchang-Bold.woff') format('woff'),
    url('/fonts/Panchang-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'manrope';
  src: url('/fonts/manrope-bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('/fonts/Satoshi-Regular.woff') format('woff'),
    url('/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'satoshi-medium';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('/fonts/Satoshi-Medium.woff') format('woff'),
    url('/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'satoshi-bold';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('/fonts/Satoshi-Bold.woff') format('woff'),
    url('/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'digital-numbers';
  src: url('/fonts/DigitalNumbers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('/fonts/ClashDisplay-Extralight.woff2') format('woff2'),
    url('/fonts/ClashDisplay-Extralight.woff') format('woff'),
    url('/fonts/ClashDisplay-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('/fonts/ClashDisplay-Light.woff2') format('woff2'),
    url('/fonts/ClashDisplay-Light.woff') format('woff'),
    url('/fonts/ClashDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'clash-display';
  src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2'),
    url('/fonts/ClashDisplay-Regular.woff') format('woff'),
    url('/fonts/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2'),
    url('/fonts/ClashDisplay-Medium.woff') format('woff'),
    url('/fonts/ClashDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
    url('/fonts/ClashDisplay-Semibold.woff') format('woff'),
    url('/fonts/ClashDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2'),
    url('/fonts/ClashDisplay-Bold.woff') format('woff'),
    url('/fonts/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C0C0C;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}